<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191037013128-eppnprv0j2qscundb607quvas1p4m6h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191037013128-eppnprv0j2qscundb607quvas1p4m6h3</string>
	<key>API_KEY</key>
	<string>AIzaSyBeSADP9zZlyhgDeVdLFPJYqjL8q_lY0hE</string>
	<key>GCM_SENDER_ID</key>
	<string>191037013128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentApp</string>
	<key>PROJECT_ID</key>
	<string>assignment-app-8223</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-app-8223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191037013128:ios:a6e1bbfc456d8dd1f8333d</string>
</dict>
</plist>